/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

*.rar

# ignore Plugin
/public/plugins

# ignore layout resource
# /public/dist/layout

# ignore upload files
/public/uploads
/public/dist/layout/layout_home/video
/public/dist/layout/layout_nghethuat
